.sortable {
  cursor: pointer;
  position: relative;
  padding-right: 1.5em !important;
}

.sortable::after {
  content: "";
  position: absolute;
  right: 0.5em;
  top: 50%;
  width: 0.45em;
  height: 0.45em;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: translateY(-65%) rotate(-45deg);
}

.sortable[data-order="asc"]::after {
  transform: translateY(15%) rotate(-45deg);
}

.sortable[data-order="desc"]::after {
  transform: translateY(-85%) rotate(135deg);
}
