/** table sorting **/

.sortable {
  cursor: pointer;
  position: relative;
  padding-right: 1.5em !important;
}

.sortable::before,
.sortable::after {
  content: "";
  position: absolute;
  right: 0.5em;
  width: 0;
  height: 0;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
}

.sortable::before {
  top: calc(50% - 0.45em);
  border-bottom: 0.25em solid darkgray;
}

.sortable::after {
  top: calc(50% + 0.05em);
  border-top: 0.25em solid darkgray;
}

.sortable[data-order="asc"]::before {
  border-bottom-color: currentColor;
}

.sortable[data-order="asc"]::after {
  display: none;
}

.sortable[data-order="desc"]::before {
  display: none;
}

.sortable[data-order="desc"]::after {
  border-top-color: currentColor;
}

/** logo **/

.logo {
  cursor: pointer;
  display: block;
  width: fit-content;
  margin: 0 auto;
  transform-origin: top center;
}

.logo.ringing {
  animation: bell-ring 1s ease-in-out;
}

@keyframes bell-ring {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(7deg);
  }
  40% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  70% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/** data groups **/
.data-groups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  align-items: start;
}

.data-groups h2 {
  margin-top: 0;
}

.data-groups ul {
  margin-top: 0.5rem;
}

/**  parallel quest steps **/
.quest-parallel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;

  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

.quest-parallel > li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.quest-parallel > li::marker {
  content: "";
}
